<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <div class="d-flex">
        <div class="p-3" [routerLink]="['/home']">
          <i class="fas fa-home"></i> Home
        </div>
        <div class="ml-auto p-3" (click)="changeLanguage()">
          <i class="fas fa-language"></i> เปลี่ยนภาษา
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="accordion" id="accordionExample">
      <div class="card" *ngFor="let session of data">
        <div class="card-header" [attr.id]="'heading' + session.target">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left"
              type="button"
              data-toggle="collapse"
              [attr.data-target]="'#collapse' + session.target"
              aria-expanded="true"
              [attr.aria-controls]="'collapse' + session.target"
            >
              {{ session.sessionTitle }}
            </button>
          </h2>
        </div>

        <div
          [attr.id]="'collapse' + session.target"
          class="collapse"
          [attr.aria-labelledby]="'heading' + session.target"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <div *ngFor="let item of session.sessionLists; let last = last">
              <div (click)="onClickSession(item.filename)">
                <div>{{ item.label }}</div>
                <hr class="solid" *ngIf="!last" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
