<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title><div [routerLink]="['/home']">Back</div></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              ฝึกทักษะการพิมพ์ดีดภาษาไทยวันที่ 1
            </button>
          </h2>
        </div>

        <div
          id="collapseOne"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <div *ngFor="let item of session1.day1; let last = last">
              <div class="p-1" (click)="onClickSession(item.value)">
                <div>{{ item.label }}</div>
                <hr class="solid" *ngIf="!last" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            ฝึกทักษะการพิมพ์ดีดภาษาไทยวันที่ 2
          </button>
        </h2>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          Some placeholder content for the second accordion panel. This panel is
          hidden by default.
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
